[Unit]
Description=stop adw docker before reboot and shutdown
DefaultDependencies=no
#Before=systemd-poweroff.service systemd-reboot.service systemd-halt.service
#Requires=docker.service


[Service]
Type=oneshot
ExecStart=/usr/bin/touch /home/xm137/flag.txt
RemainAfterExit=yes

[Install]
WantedBy=halt.target reboot.target poweroff.target